/* Start of the Header */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.header {
  display: flex;
  align-items: center;
  padding: 25px;
}

.red {
  background-color: red;
  padding: 5px;
}

.orange {
  background-color: orange;
  padding: 5px;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-size: 20px;
  transition: all 0.3s;
  margin: 15px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

a:hover {
  color: #c70039;
  transform: scale(0.1);
  transition: all 0.5s;
  font-size: 20px;
}

.header-container {
  font-weight: 600;
  margin-left: 35%;
}

nav {
  background-color: yellow;
}
/* end of the header css */

/* For body Image Start */
.background {
  background-image: url("/img/busses.png");
  background-size: cover;
  background-position: center;
}

.background-content {
  text-align: center;
  padding: 150px;
  height: 250px;
}
/* End of the Body */
/* Footer */

footer {
  font-family: "Poppins", sans-serif;
}
footer {
  background: #111;
  padding: 15px 23px;
  color: #fff;
  text-align: center;
}
footer span a {
  color: #39afeb;
  text-decoration: none;
}
footer span a:hover {
  text-decoration: underline;
}
/* End of the Footer */

/* Start of the Body */
.title-story {
  margin-top: 5%;
  font-size: 24px;
  margin-bottom: 40px;
  color: #333;
}

.story {
  text-align: center;
  font-weight: 600;
  font-size: 30px;
}

.story-container {
  width: 100%;
  margin: 20px auto;
  overflow: hidden;
  background-color: #111;
}
.image {
  float: left;
  width: 50%;
  box-sizing: border-box;
}

.description {
  float: right;
  width: 50%;
  box-sizing: border-box;
  text-align: center;
  color: white;
  padding: 1%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.image-story {
  max-width: 100%;
  height: 300px;
  display: block;
  padding: 1%;
  padding-left: 20%;
}

.jose {
  max-width: 100%;
  height: 300px;
  display: block;
  padding: 1%;
  padding-left: 33%;
}

.teen-image {
  max-width: 100%;
  height: 300px;
  display: block;
  padding: 1%;
  padding-left: 1%;
}

.one-image {
  max-width: 100%;
  height: 300px;
  display: block;
  padding: 1%;
  padding-left: 20%;
}
/* End of the body */

/* Start of Contact */
.contact {
  min-height: 50vh;
  background-color: #e0f4ff;
  padding: 50px;
  text-align: center;
}
.contact-container {
  max-width: 800px;
  margin: 0 auto;
}

.contact-container h2 {
  font-size: 36px;
  margin-bottom: 40px;
  color: #333;
}
.contact-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}
.contact-form {
  text-align: left;
}
.contact-from h3 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}
.form-group {
  margin-bottom: 20px;
}
input,
textarea {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  background-color: #f8f9fa;
  color: #333;
}
input:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 0 8px #bbb;
}
button {
  display: inline-block;
  padding: 12px 24px;
  background-color: #c70039;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}
button:hover {
  background-color: #900c3f;
}

.contact-info {
  text-align: left;
  margin-left: 100px;
}

.contact-info h3 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}
.cantact-info p {
  margin-bottom: 10px;
  color: #555;
}

.contact-info i {
  color: #c70039;
  margin-right: 10px;
}
@media screen and (max-width: 768px) {
  .contact-container {
    padding: 20px;
  }
  .contact-wrapper {
    grid-template-columns: 1fr;
  }
}
/* ENd of the Contact */

/* Start of the Table */
table {
  margin-left: 10%;
  width: 80%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th,
td {
  border: 3px solid #ddd;
  padding: 12px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}
.terminal {
  text-align: center;
}

.terminal i {
  padding: 10px;
  color: #c70039;
}
/* End of the Table */

/* the map */
.size {
  position: absolute;
  cursor: pointer;
  transition: all 1s;
}

.size:hover {
  transform: scale(1.3);
  transition: all 1s;
}

.maps {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.size {
  height: 40px;
  margin-left: 280px;
  margin-top: 40px;
}

.map-image {
  width: 100%;
}

.size-two {
  position: absolute;
  height: 40px;
  top: 70px;
  margin-left: 330px;
}
.size-two:hover {
  transform: scale (1.3);
  transition: all 1s;
}
/* end of the map */
